<li class="list-group-item">
    However, before each member of party ALPHA and BETA decides to vote or to abstain, both candidate A
    and
    candidate B have the opportunity to subtract a vote to the other party so to add it to their own
    party.
    The
    cost of electoral fraud is randomly selected so that it may vary from round to round. The cost of
    electoral
    fraud is the same for candidate A and for candidate B and it might be equal either to 20 points or
    to 40
    points. In each period, all party members and candidates will be informed about the cost of
    electoral
    fraud.
</li>
<li class="list-group-item">
    Let’s make some examples:
</li>
<li class="list-group-item">
    Suppose that candidate A decides to implement electoral fraud so to subtract a vote to party BETA in order
    to add it to party ALPHA. Differently, candidate B decides not to implement electoral fraud.
</li>
<li class="list-group-item pl-3">
    - If party BETA has at least one member who decides to vote then this vote will be automatically
    subtracted from party BETA and added to party ALPHA
</li>
<li class="list-group-item pl-3">
    - If no member of party BETA decides to vote then a vote will be automatically added to party ALPHA
    while for party BETA nothing changes.&nbsp;
</li>
<li class="list-group-item  pl-3">
    - Suppose that both candidate A and candidate B decide to implement electoral fraud. In this case
    nothing changes.
</li>
