<li class="list-group-item">
    Once both candidate A and candidate B have decided whether to implement electoral fraud or not and
    they’ve been mutually informed about it, each candidate decides which of the following messages to send to
    all members of both Party Alpha and Party BETA.
</li>
<li class="list-group-item">
    One of the following messages is chosen by candidate A:
</li>
<li class="list-group-item">
    - Candidate B decided to implement electoral fraud so to subtract one vote from Party ALPHA.
</li>
<li class="list-group-item">
    - Candidate B decided NOT to implement electoral fraud so to subtract one vote from Party ALPHA
</li>
<li class="list-group-item">
    - Nothing to communicate

</li>
<li class="list-group-item">One of the following messages is chosen by candidate B
</li>
<li class="list-group-item">
    - Candidate A decided to implement electoral fraud so to subtract one vote from Party BETA
</li>
<li class="list-group-item">
    - Candidate A decided NOT to implement electoral fraud so to subtract one vote from Party BETA
</li>
<li class="list-group-item">
    - Nothing to communicate
</li>
<li class="list-group-item">
    Finally, after all members of Party ALPHA and BETA have received both the message of Candidate A and
    of Candidate B, every party member will made a choice between voting or abstaining. The earnings for
    each member of Party ALPHA and Party BETA, as well the earnings for Candidate A and Candidate B will be
    then showed on the screen.
</li>
<li class="list-group-item">
    Members of party ALPHA and of party BETA will never been informed, both during the experiment or
    after it, about whether candidate A or candidate B actually decided to implement electoral fraud or not.
</li>