<li class="list-group-item">
    Once both candidate A and candidate B have decided whether to implement electoral fraud or not, they will be
    mutually informed about it. Differently, members of party ALPHA and BETA will never be informed about whether
    candidate A or candidate B actually decided to implement electoral fraud or not.
</li>
<li class="list-group-item">

    Hereafter, each decides which of the following messages to send to
    all members of both Party ALPHA and Party BETA.
</li>
<li class="list-group-item">
    One of the following messages is chosen by candidate A:
</li>
<li class="list-group-item">
    - Candidate B decided to implement electoral fraud so to subtract one vote from Party ALPHA.
</li>
<li class="list-group-item">
    - Candidate B decided NOT to implement electoral fraud so to subtract one vote from Party ALPHA
</li>
<li class="list-group-item">
    - Nothing to communicate

</li>
<li class="list-group-item">One of the following messages is chosen by candidate B
</li>
<li class="list-group-item">
    - Candidate A decided to implement electoral fraud so to subtract one vote from Party BETA
</li>
<li class="list-group-item">
    - Candidate A decided NOT to implement electoral fraud so to subtract one vote from Party BETA
</li>
<li class="list-group-item">
    - Nothing to communicate
</li>
<li class="list-group-item">
    Finally, after all members of Party ALPHA and BETA have received both the message of Candidate A and
    of Candidate B, every party member will made a choice between voting or abstaining. At the end of each round both
    candidates A and B, as well as members of Party ALPHA and BETA will see which party has the highest number of votes
    as well as their own payoff for that round.
</li>