<div class="card my-3">
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Now we are explaining you the detailed instructions for the first part of the experiment. The first part
                consists of 5 rounds.
            </li>

            <li class="list-group-item">
                Part 1 consists of {{ Constants.num_rounds }} rounds. At the end of
                the study, we will randomly select one round of the first part and pay to you in private in cash the
                earnings you obtained in that round.
            </li>
            <li class="list-group-item">
                At the beginning of the first part you will be randomly and anonymously assigned to groups composed by
                11
                individuals each. The group composition will remain the same for all the {{ Constants.num_rounds }}
                rounds of the first part of
                the
                experiment. You will never know the identity of the other members of your group, nor during the
                experiment,
                nor
                at the end of it.

            </li>
            <li class="list-group-item">

                Within each group composed by 11 participants, there will be: the ALPHA party, composed by 4 members,
                and a Candidate A; the party BETA, composed by 5 members, and a candidate B.
                <ul>
                    <li>
                        The role of Candidate A and Candidate B are randomly assigned at the beginning of the first
                        part and will remain the same for all the {{ Constants.num_rounds }} rounds of the first part;
                    </li>
                    <li>
                        The role of member of Party ALPHA and of Party BETA will be randomly assigned at the beginning
                        of each round and thus might be different from round to round.
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                At the beginning of each round you will be informed about which party you are randomly assigned to or
                whether you are randomly assigned to the role of Candidate A or Candidate B.
            </li>
            <li class="list-group-item">
                Moreover, to each member of Party ALPHA and of Party BETA it will be also randomly assigned a bonus Y.
                We will explain what this means in a moment.
            </li>
            <li class="list-group-item">
                After that, each member of Party ALPHA and of Party BETA will be asked to choose one option out of two: option
                “VOTE” or option “ABSENTION”.
            </li>
            <li class="list-group-item">
                At the end of each round both candidates A and B, as well as members of Party ALPHA and BETA will see
                which party has the highest number of votes as well as their own payoff for that round.
            </li>



            {% if session.config.fraud %}
                {% include 'fraud/includes/fraud_block.html' %}

            {% endif %}
            {% if session.config.info %}
                {% include 'fraud/includes/info_block.html' %}
            {% endif %}


            {% if subsession.treatment == 'fraud_only' %}
                <li class="list-group-item">
                    Once both candidate A and candidate B have decided whether to implement electoral fraud or not, they
                    will be mutually informed about it. Differently, members of party ALPHA and BETA will never be
                    informed about whether candidate A or candidate B actually decided to implement electoral fraud or
                    not.
                    Finally, every party member will made a choice between voting or abstaining.

                </li>
                <li class="list-group-item">
                    At the end of each round both candidates A and B, as well as members of Party ALPHA and BETA will
                    see which party has the highest number of votes as well as their own payoff for that round.

                </li>
            {% endif %}
            </li>
        </ul>
    </div>
</div>