{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Questionario
{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-body">

            Supponi che il soggetto X abbia investito l’intero ammontare a sua disposizione nel periodo nel progetto di
            gruppo, cioè 100 punti.
            Gli altri otto membri del suo gruppo non hanno investito alcun punto nel progetto


            {% formfield player.cq_ggeg_1 %}
            {% formfield player.cq_ggeg_2 %}
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            Supponi che il soggetto X non abbia investito nulla nel progetto di gruppo. Ciascun membro del suo gruppo ha
            investito 100 punti nel progetto.

            {% formfield player.cq_ggeg_3 %}
        </div>
    </div>
    <div class="my-3">
        {% next_button %}
    </div>



{% endblock %}
