{% extends "global/Page.html" %}
{% load otree  %}

{% block title %}
     Contributo al progetto comune.
{% endblock %}

{% block content %}
    <div class="alert alert-info">
        <h5>
            Ammontare di punti che ti è stato assegnato:
            <span class="income"><u>{{ player.endowment }}</u></span></h5>
    </div>

    {% formfield player.contribution label='Per favore indica quanti punti vuoi investire nel progetto comune' %}
    <div class="my-3">
        {% next_button %}
    </div>


{% endblock %}
