{% extends "global/Page.html" %}
{% load otree %}
{% block styles %}

    <style>
        .myimg {
            height: 200px;
            overflow: hidden;
            border-color: #DADADA;
            border-style: solid;
            border-width: 0;
            margin-bottom: 20px;
        }

        .myimg img {
            display: block;
            margin: auto;

        }

        .alert {
            margin: 0;
            padding: 0;
        }

        @media only screen and (max-device-width: 480px) {

            img {
                display: block;
                margin: 0 auto;
                margin-left: auto;;
                width: 100%;
                heigth: auto;
            }
        }
    </style>
{% endblock %}
{% block title %}
    Example
{% endblock %}

{% block content %}
    <div class="card">
    <div class="card-body">


    {% if session.config.fraud or session.config.info %}
        <p>Let’s make an example :</p>
        <p>
            Suppose that in round t the cost of electoral fraud is equal to 20 points and that Candidate A decides to
            implement electoral fraud while candidate B decides not to implement it. Additionally, suppose that one
            member of the ALPHA party and two members of the BETA party choose to vote.
        </p>
        <p>
            Therefore, the ALPHA party has more votes than the BETA party.
        </p>
        <p>
            The member of the ALPHA party who chose to vote earns 105 points while the other three members of the ALPHA
            party who chose to abstain earns 105 points plus his or her own personal Y-bonus; the two members of the
            BETA party who chose to vote earn 5 points, while the other three members of the BETA party who chose to
            abstain earns 5 points plus his or her personal Y-bonus.
        </p>
        <p>
            Candidate A will receive 210-20=190 points while candidate B will receive 60 points.
        </p>
        <p>
            The bottom of the screen contains a history panel that will be updated to reflect which party got a highest
            number of votes in each round. At the end of each round you will be also informed about you earnings in that
            round and in the previous ones.
        </p>

    {% else %}
        <p>Let’s make an example:</p>
        <p>
            Suppose that one member of the ALPHA party and two members of the BETA party choose to vote. Then the BETA
            party has more votes than the ALPHA party.
        </p>
        <p>
            The member of the ALPHA party who chose to vote earns 5 points while the other three members of the ALPHA
            party who chose to abstain earns 5 points plus his or her own personal Y-bonus; the two members of the BETA
            party who chose to vote earn 105 points, while the other three members of the BETA party who chose to
            abstain earns 105 points plus his or her personal Y-bonus.
        </p>
        <p>
            Candidate A will receive 60 points while candidate B will receive 210 points.
            The bottom of the screen contains a history panel that will be updated to reflect which party got a higher
            number of votes in each round. At the end of each round you will be also informed about you earnings in that
            round and in the previous ones.
        </p>
    {% endif %}


    {% next_button %}

{% endblock %}
