{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Example
{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-body">
            <p>Let’s make an example :</p>
            <ul class="list-group list-group-flush">
                {% if subsession.treatment == 'baseline' %}


                    <li class="list-group-item">
                        Suppose that in a given round one member of the ALPHA party and two members of the BETA party
                        choose to vote.
                        Then
                        the BETA
                        party has more votes than the ALPHA party.
                    </li>
                    <li class="list-group-item">
                        The member of the ALPHA party who chose to vote earns 5 points while the other three members
                        of the
                        ALPHA
                        party who chose to abstain earns 5 points plus his or her own personal Y-bonus; the two
                        members of
                        the BETA
                        party who chose to vote earn 105 points, while the other three members of the BETA party who
                        chose
                        to
                        abstain earns 105 points plus his or her personal Y-bonus.
                    </li>
                    <li class="list-group-item">
                        Candidate A will receive 60 points while candidate B will receive 210 points.
                        The bottom of the screen contains a history panel that will be updated to reflect which party
                        got a highest number of votes in each round.
                    </li>

                {% else %}
                    <li class="list-group-item">
                        Suppose that in in a given round the cost of electoral fraud is equal to 20 points and that
                        Candidate A decides to implement electoral fraud while candidate B decides not to implement it.
                         Suppose then that one member of the ALPHA party and two members of the BETA party
                        choose to vote.
                    </li>
                    <li class="list-group-item">
                        Therefore, the ALPHA party has more votes than the BETA party: since Candidate A decided to
                        implement electoral fraud while Candidate B decided not to do so, one vote is subtracted from
                        Party BETA and added to party ALPHA.
                    </li>
                    <li class="list-group-item">
                        The member of the ALPHA party who chose to vote earns 105 points while the other three
                        members of
                        the ALPHA
                        party who chose to abstain earns 105 points plus his or her own personal Y-bonus; the two
                        members of
                        the
                        BETA party who chose to vote earn 5 points, while the other three members of the BETA party
                        who
                        chose to
                        abstain earns 5 points plus his or her personal Y-bonus.
                    </li>
                    <li class="list-group-item">
                        Candidate A will receive 210-20=190 points while candidate B will receive 60 points.
                    </li>


                {% endif %}
                <li class="list-group-item">
                    The bottom of the screen contains a history panel that will be updated to reflect which party got a
                    highest number of votes in each round.
                </li>
            </ul>
        </div>
    </div>


    {% next_button %}

{% endblock %}
