{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
   Information decision. Round {{ view.round_number  }} out of {{ Constants.num_rounds }}
{% endblock %}

{% block content %}
     {% include 'fraud/includes/candidate_block.html' %}
     {% include 'fraud/includes/party_block.html' %}

    <div class="alert alert-info text-center lead my-3">
    The decision made by a <b>Candidate {{ player.get_other_candidate_name }}</b> is the following:
    <div><i>
        {{ player.get_other_candidate_decision }}
    </i></div>
</div>
    {% formfields %}
    {% next_button %}

{% endblock %}
