{% extends "global/Page.html" %}
{% load otree %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Thank you for participating in this experiment. On the top of receiving a show-up fee of {{ fee }}
                    for
                    arriving on time, you have the opportunity to gain additional money. Different participants may earn
                    different amounts. What you earn depends partly on your decisions, partly on the decisions of
                    others,
                    and partly on chance. So it is important that you listen carefully, and fully understand the
                    instructions before we begin.

                </li>
                <li class="list-group-item">
                    During the experiment we will speak of points rather than Euros.<br/>
                    The conversion rate between points and Euro is:  <b>{{ subsession.get_conversion_rate}}</b>.
                </li>
                 <li class="list-group-item">
                     The whole experiment lasts about one hour and a half.
                </li>
                <li class="list-group-item">
                    The choices you’re going to make during the experiment will be completely anonymous. It will be
                    impossible
                    for those analysing the data to know the participants’ identity.
                </li>
                <li class="list-group-item">
                    If you have any questions, please do not hesitate to raise your hand at any moment. An assistant
                    will
                    come to you and privately answer to any doubt you might have.

                </li>
                <li class="list-group-item">
                    During the entire experiment, you are not allowed to talk with the other participants or to use your
                    mobile phone. Please, turn off your mobile phone.

                </li>
                <li class="list-group-item">
                    The experiment is composed by 2 parts: Part 1 and Part 2. In the following we will give you the instructions for the
                    first
                    part. We will give you the instructions for the second part once the first part will be finished.

                </li>
            </ul>
        </div>
    </div>

    {% next_button %}

{% endblock %}