{% extends "global/Page.html" %}
{% load otree %}
{% block styles %}

    <style>
        .myimg {
            height: 200px;
            overflow: hidden;
            border-color: #DADADA;
            border-style: solid;
            border-width: 0;
            margin-bottom: 20px;
        }

        .myimg img {
            display: block;
            margin: auto;

        }

        .alert {
            margin: 0;
            padding: 0;
        }

        @media only screen and (max-device-width: 480px) {

            img {
                display: block;
                margin: 0 auto;
                margin-left: auto;;
                width: 100%;
                heigth: auto;
            }
        }
    </style>
{% endblock %}
{% block title %}
    Payoffs
{% endblock %}

{% block content %}
    <div class="card">
    <div class="card-body">

    {% if session.config.info and session.config.fraud %}

    <p>
        How are your earnings for members of party ALPHA, party BETA, candidates A and B determined in every round? <b>It
        is very important that you understand this, so please listen carefully.</b>
    </p>

    <p>
        Please note that in order to identify the party with a highest number of votes, if anything, it’s necessary to
        take into account the choice of Candidate A and B about whether to implement electoral fraud or not.
    </p>
    {% elif session.config.fraud %}
    <p>
        How are your earnings for members of party ALPHA, party BETA, candidates A and B determined in every round? <b>It
        is very important that you understand this, so please listen carefully.</b>
    </p>

    <p>
        Please note that in order to identify the party with a highest number of votes, if anything, it’s necessary to
        take into account the choice of Candidate A and B about whether to implement electoral fraud or not.
    </p>

    {% else %}


    <p>
        How are your earnings for members of party ALPHA, party BETA, candidates A and B determined in every
        round? <b>It is very important that you understand this, so please listen carefully. </b>
    </p>
    {% endif %}
    {% next_button %}

{% endblock %}
