{% extends "global/Page.html" %}
{% load otree %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">

                    Se avete delle domande, premete il pulsante a forma di salvagente in alto a destra. <br>
                    Ora risponderete a un quiz per verificare che tutti abbiano compreso correttamente le istruzioni.
                    Leggete attentamente ogni domanda e controllate la risposta corretta. Quando tutti avranno risposto
                    correttamente a tutte le domande, inizieremo la prima parte dell'esperimento. Se avete difficoltà
                    con il quiz o avete altre domande, premete il pulsante a forma di salvagente in alto a destra.

                </li>
            </ul>
        </div>
    </div>

    {% next_button %}

{% endblock %}
