{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Comprehension check
{% endblock %}

{% block content %}

    <style>
    label.btn.btn-default.btn-secondary.active {
        background: yellow;
        color: black;
    }

</style>
<script src="{%  static 'global/js/survey.jquery.min.js' %}"></script>
<script src="{%  static 'global/js/showdown.min.js' %}"></script>

<div class="otree-body container">

    <div id="surveyElement" style="display:inline-block;width:100%;"></div>
</div>
<input type="hidden" id="surveyholder" name="surveyholder">
<script>


    Survey.defaultBootstrapCss.navigationButton = "btn-primary btn-lg";
    Survey
        .StylesManager
        .applyTheme("bootstrap");


    var surveyJSON = {
  pages: [
    {
      name: "page1",
      elements: [
        {
          type: "radiogroup",
          name: "cq_1",
          title: "How many members are in the ALPHA party?",
          requiredErrorText: "Please answer this question",
          validators: [
            {
              type: "expression",
              text: "Re-read instructions and check your answer",
              expression: "{cq_1} = 5"
            }
          ],
          choices: ["4", "5", "9"]
        },
        {
          type: "radiogroup",
          name: "cq_2",
          title: "How many members are in the BETA party?",
          requiredErrorText: "Please answer this question",
          validators: [
            {
              type: "expression",
              text: "Re-read instructions and check your answer",
              expression: "{cq_2} = 4"
            }
          ],
          choices: ["4", "5", "9"]
        },
        {
          type: "radiogroup",
          name: "cq_3",
          title:
            "Is the role of member of party ALPHA or BETA randomly assigned in each round?",
          requiredErrorText: "Please answer this question",
          validators: [
            {
              type: "expression",
              text: "Re-read instructions and check your answer",
              expression: "{cq_3} = 0"
            }
          ],
          choices: [
            { value: "0", text: "No" },
            { value: "1", text: "Yes" }
          ]
        },
        {
          type: "radiogroup",
          name: "cq_4",
          title:
            "Is the role of candidate A and B randomly assigned in each round?",
          requiredErrorText: "Please answer this question",
          validators: [
            {
              type: "expression",
              text: "Re-read instructions and check your answer",
              expression: "{cq_4} = 0"
            }
          ],
          choices: [
            { value: 1, text: "Yes" },
            { value: 0, text: "No" }
          ]
        },
        {
          type: "radiogroup",
          name: "сq_5",
          title:
            "Is the Y bonus of one party member necessarily the same as other members of the same party?",
          requiredErrorText: "Please answer this question",
          validators: [
            {
              type: "expression",
              text: "Re-read instructions and check your answer",
              expression: "{сq_5} = 0"
            }
          ],
          choices: [
            { value: 1, text: "Yes" },
            { value: 0, text: "No" }
          ]
        },
           {% if subsession.treatment == 'baseline' %}
               {
          type: "radiogroup",
          name: "cq_6",
          title:
            "Suppose the following situation: <br><i>" +
              "In round 3 a member of the BETA party is randomly assigned a Y bonus equal to 21 points and decides to abstain. Totally, three members of the BETA party and four members of the ALPHA party choose to vote. </i><br>" +
              " How many points does the above described member of the BETA party earn in this round?",
          requiredErrorText: "Please answer this question",
          validators: [
            {
              type: "expression",
              text: "Re-read instructions and check your answer",
              expression: "{cq_6} = 26"
            }
          ],
          choices: [5, 21, 26, 55, 76, 105]
        },
         {
          type: "radiogroup",
          name: "cq_7",
          title:
            "Suppose the following situation: <br><i>" +
              " In a round the cost of electoral fraud is equal to 40 points. Both Candidate A and Candidate B decide not to implement electoral fraud. A member of the BETA party is randomly assigned a Y bonus equal to 21 points and decides to abstain. In Total, three members of the BETA party and four members of the ALPHA party chose to vote.</i><br>" +
              " How many points does the above described member of the BETA party earn in this round?",
          requiredErrorText: "Please answer this question",
          validators: [
            {
              type: "expression",
              text: "Re-read instructions and check your answer",
              expression: "{cq_7} = 5"
            }
          ],
          choices: [5, 21, 26, 55, 76, 105]
        },
          {% else %} {
          type: "radiogroup",
          name: "cq_8",
          title:
            "Suppose the following situation: <br><i>" +
              "In a round the cost of electoral fraud is equal to 40 points. Both Candidate A and Candidate B decide not to implement electoral fraud. A member of the BETA party is randomly assigned a Y bonus equal to 21 points and decides to abstain. In Total, three members of the BETA party and four members of the ALPHA party chose to vote. </i><br>" +
              "How many points does the above described member of the BETA party earn in this round?",
          requiredErrorText: "Please answer this question",
          validators: [
            {
              type: "expression",
              text: "Re-read instructions and check your answer",
              expression: "{cq_8} = 26"
            }
          ],
          choices: [5, 21, 26, 55, 76, 105]
        },
        {
          type: "radiogroup",
          name: "cq_9",
          title:
            "Suppose the following situation: <br><i>" +
              "In a round the cost of electoral fraud is equal to 40 points. Both Candidate A and Candidate B decide not to implement electoral fraud. In Total, four members of the Beta party and four members of the Alpha party decide to vote.  </i><br>" +
              "How many points does Candidate A earn in this round?",
          requiredErrorText: "Please answer this question",
          validators: [
            {
              type: "expression",
              text: "Re-read instructions and check your answer",
              expression: "{cq_9} = 110"
            }
          ],
          choices: [5, 60, 70, 110, 170, 210]
        },
        {
          type: "radiogroup",
          name: "cq_10",
          title:
            "Suppose the following situation:  " +
              "<i><br> In a round the cost of electoral fraud is equal to 20 points. Candidate A decides to implement electoral fraud while Candidate B does not. In Total, four members of the Beta party and four members of the Alpha party decide to vote (not considering electoral fraud).  </i><br>" +
              " How many points does Candidate A earn in this round?",
          requiredErrorText: "Please answer this question",
          validators: [
            {
              type: "expression",
              text: "Re-read instructions and check your answer",
              expression: "{cq_10} = 190"
            }
          ],
          choices: [5, 60, 70, 110, 190, 210]
        },
        {
          type: "radiogroup",
          name: "cq_11",
          title:
            "Suppose the following situation:  " +
              "<i><br> In a round the cost of electoral fraud is equal to 20 points. Candidate A decides to implement electoral fraud while Candidate B does not. In Total, four members of the Beta party and four members of the Alpha party decide to vote. </i><br>" +
              " How many points does Candidate B earn in this round?",
          requiredErrorText: "Please answer this question",
          validators: [
            {
              type: "expression",
              text: "Re-read instructions and check your answer",
              expression: "{cq_11} = 60"
            }
          ],
          choices: [5, 60, 70, 110, 170, 210]
        }
          {% endif %}

      ]
    }
  ],
  // showNavigationButtons: "none",
  showPrevButton: false,
  showProgressBar: "top",
  questionsOnPageMode: "questionPerPage"
};

    window.survey = new Survey.Model(surveyJSON);

    survey
        .onComplete
        .add(function (sender) {
            document
            $('#surveyholder').val(JSON.stringify(sender.data, null, 3))
            $('#form').submit()
            ;
        });
    //Create showdown markdown converter
    var converter = new showdown.Converter();
    survey
        .onTextMarkdown
        .add(function (survey, options) {
            //convert the markdown text to html
            var str = converter.makeHtml(options.text);
            //remove root paragraphs <p></p>
            str = str.substring(3);
            str = str.substring(0, str.length - 4);
            //set html
            options.html = str;
        });

    $("#surveyElement").Survey({model: survey});
    ;
</script>

{% endblock %}
