{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    General introduction
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                       <p>
        If you have any questions at this time, please raise your hand.
        Now you are going to answer a quiz to be sure everyone has correctly understood the instructions. Please read
        each question carefully and check the correct answer. Once everyone has answered all the questions correctly, we
        will commence with the first part of the experiment. If you have any difficulties with the quiz or have other
        questions please raise your hand.
    </p>

                </li>
            </ul>
        </div>
    </div>

    {% next_button %}

{% endblock %}
