{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Vote Decision. Round {{ view.round_number }} out of {{ Constants.num_rounds }}
{% endblock %}

{% block content %}
    {% if subsession.treatment == 'fraud_info' %}
        <div class="card">
            <div class="card-body">
                <table class="table table-stripped table-hover">
                    <tr>
                        <td>Message from Candidate&nbspA:</td>
                        <td><b>{{ subsession.candidate_A_msg }}</b></td>
                    </tr>
                    <tr>
                        <td> Message from Candidate&nbsp
                            B:</td>
                        <td><b>{{ subsession.candidate_B_msg }}</b></td>
                    </tr>
                </table>

            </div>
        </div>
    {% endif %}
    <div class="alert alert-warning text-center lead my-3">
        Your Y bonus in this round is: <b><i>{{ player.y }} points</i></b>
    </div>
    {% include 'fraud/includes/party_block.html' %}
    {% formfields %}

    {% next_button %}

{% endblock %}
