{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Decisione di voto. Periodo  {{ view.round_number }} su {{ Constants.num_rounds }}
{% endblock %}

{% block content %}
    {% if subsession.treatment == 'fraud_info' %}
        <div class="card">
            <div class="card-body">
                <table class="table table-stripped table-hover">
                    <tr>
                        <td>
                            Messaggio dal candidato A:
                        </td>
                        <td><b>{{ group.candidate_A_msg }}</b></td>
                    </tr>
                    <tr>
                        <td>
                            Messaggio dal candidato B:

                        </td>
                        <td><b>{{ group.candidate_B_msg }}</b></td>
                    </tr>
                </table>

            </div>
        </div>
    {% endif %}
    <div class="alert alert-warning text-center lead my-3">
        In questo periodo, il tuo bonus Y è pari a:   <b><i>{{ player.y }} punti</i></b>
    </div>
    {% include 'fraud/includes/party_block.html' %}
    {% formfields %}

    {% next_button %}

{% endblock %}
