{% extends "global/Page.html" %}
{% load otree %}
{% block styles %}

    <style>
        .myimg {
            height: 200px;
            overflow: hidden;
            border-color: #DADADA;
            border-style: solid;
            border-width: 0;
            margin-bottom: 20px;
        }

        .myimg img {
            display: block;
            margin: auto;

        }

        .alert {
            margin: 0;
            padding: 0;
        }

        @media only screen and (max-device-width: 480px) {

            img {
                display: block;
                margin: 0 auto;
                margin-left: auto;;
                width: 100%;
                heigth: auto;
            }
        }
    </style>
{% endblock %}
{% block title %}
    Общая инструкция
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">


            <p>
                Thank you for participating in this experiment. On the top of receiving a show-up fee of XX euro for
                arriving on time, you have the opportunity to gain additional money. Different participants may earn
                different amounts. What you earn depends partly on your decisions, partly on the decisions of others,
                and partly on chance. So it is important that you listen carefully, and fully understand the
                instructions before we begin.
                <br/>
                During the experiment, your earnings will be defined in points. Once the experiment will be finished,
                your earnings will be converted in euros according to the conversion rate xx points = xxx euros and
                finally paid you privately in cash.
                <br/>
                The choices you’re going to make during the experiment will be completely anonym. It will be impossible
                for those analysing the data to know the participants’ identity.
                <br/>
                If you have any questions, please do not hesitate to raise your hand at any moment. An assistant will
                come to you and privately answer to any doubt you might have.
                <br/>
                During the entire experiment, you are not allowed to talk with the other participants or to use your
                mobile phone. Please, turn off your mobile phone.
                <br>
                The experiment is composed by 2 parts. In the following we will give you the instructions for the first
                part. We will give you the instructions for the second part once the first part will be finished.
            </p>


            {% next_button %}

{% endblock %}