{% load otree humanize i18n %}

<div class="card my-3">
    <div class="card-body">
        <ul class="list-group list-group-flush">


            <li class="list-group-item">
                In the second part of the experiment, only the 7 voters of each group will have to make a decision.
                Candidates will just have to wait for continuation of the experiment.

            </li>
            <li class="list-group-item">
                Each voter of each group will receive an amount of points equal to 100. Each voter will have to choose
                how many of these 100 points to keep and how many to invest in a common project.

            </li>
            <li class="list-group-item">
                The points each voter decides to invest in the common project will be doubled and will then equally
                distributed among the other 6 voters of the group, excluding the voter himself.

            </li>
            <li class="list-group-item">
                Similarly, the amount of points invested by each voter of the group, for example by subject A, will be
                doubled and then distributed equally between all the other 6 voters of the group, excluding subject A.
            </li>

            <h5 class="my-3 text-center"> How payoffs are determined </h5>
            <li class="list-group-item">

                The payoffs you earn in the Part 2 will be equal to:


                <div class="text-center my-3"><code>

                    100 points <strong>minus</strong> the amount of points you decide to invest in the group project
                    <strong>plus</strong> plus the amount of points invested in the project by the other voters of your
                    group . <strong>multiplied</strong> by 2 and
                    <strong>divided</strong> by 6.


                </code>
                </div>
            </li>
            <li class="list-group-item">
                <h5 class="my-3"> Example 1 </h5>

                Suppose that a participant has decided to invest half of the total amount of points in the
                group project, i.e. 50 points. Suppose further that the other voters of his group have invested a total
                of 300 points in the group project. The payoff for this participant will be:


                <div class="text-center">
                    <code>100 - 50 + (300 * 2 / 6) = 150</code>
                </div>

            </li>
            <li class="list-group-item">
                <h5 class="my-3">Example 2</h5>

                Suppose that a participant has decided not to invest any of the total amount of points for the period in
                the group project, i.e. 0 points. Suppose further that the other voters of his group invested a total
                of 300 points in the project. The payoff for this participant will be:


                <div class="text-center">
                    <code>100 - 0 + (300 * 2 / 6) = 200</code>
                </div>

            </li>
        </ul>
    </div>
</div>
