{% extends "global/Page.html" %}
{% load otree %}
{% block styles %}

    <style>
        .myimg {
            height: 200px;
            overflow: hidden;
            border-color: #DADADA;
            border-style: solid;
            border-width: 0;
            margin-bottom: 20px;
        }

        .myimg img {
            display: block;
            margin: auto;

        }

        .alert {
            margin: 0;
            padding: 0;
        }

        @media only screen and (max-device-width: 480px) {

            img {
                display: block;
                margin: 0 auto;
                margin-left: auto;;
                width: 100%;
                heigth: auto;
            }
        }
    </style>
{% endblock %}
{% block title %}
    Conclusion
{% endblock %}

{% block content %}
    <div class="card">
    <div class="card-body">

    <p>
        If you have any questions at this time, please raise your hand.
        Now you are going to answer a quiz to be sure everyone has correctly understood the instructions. Please read
        each question carefully and check the correct answer. Once everyone has answered all the questions correctly, we
        will commence with the first part of the experiment. If you have any difficulties with the quiz or have other
        questions please raise your hand.
    </p>

    {% next_button %}

{% endblock %}
